[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-experimental = "*"
dotenv = "*"
black = "*"
langchain-core = "*"
langchain-openai = "*"
langchain = "*"
langchain-neo4j = "*"
langchain-community = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.11"
